.BeneficiaryBox {
  display: flex;
  align-items: center;
  width: 500px;
  border: 1px solid #878787;
  border-radius: 20px;
  padding: 15px 20px;
}

.BeneficiaryBox img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #878787;
}

.BeneficiaryBox .beneficiaryBoxText {
  padding: 10px 20px;
  font-size: 18px;
  width: 285px;
}

.BeneficiaryBox .beneficiaryBoxText .name {
  font-size: 20px;
}

.BeneficiaryBox .beneficiaryBoxText .tagList {
  display: flex;
  align-items: center;
  gap: 6px;
}

.BeneficiaryBox .TransparentButton {
  padding: 10px;
}
