.PaymentMethod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #d9d9d9;
  border-radius: 30px;
  font-size: 15px;
  background-color: white;

  width: 80px;
  height: 70px;
  padding: 20px;
}

.PaymentMethod.selected {
  background-color: #ebebeb;
}

.PaymentMethod img {
  width: 70px;
  height: 70px;
}
